name: Continuous Integration

on: 
  push:
    branches:
      - main
  pull_request: {}

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup uv
        uses: astral-sh/setup-uv@7

      - name: Install the project
        run: uv sync --locked --all-extras --dev 

      - name: Ci
        run: make ci

