name: Publish to PyPI

on:
  push:
    tags:
      - "v*.*.*" # публікація при створенні тегу v1.0.0

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
      id-token: write # ОБОВʼЯЗКОВО для OIDC
      contents: read

    environment:
      name: pypi # має співпадати з тим, що ти вкажеш у PyPI (можна прибрати якщо не використовуєш)

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install build
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
